<div class=botonera>
  <button mat-fab
          class= 'green'
          [disabled]='state.green.disabled'
          (click)=onGreenClick()>
          {{state.green.text}}
  </button>
  <button mat-fab
          color='primary'
          [disabled]='state.blue.disabled'
          (click)=0
          routerLink='/message'>
          {{state.blue.text}}
  </button>

  <button mat-fab
          color='warn'
          [disabled]='state.red.disabled'
          (click)=onRedClick()>
          {{state.red.text}}
  </button>

</div>

<router-outlet></router-outlet>
